<div class="row">
  <div class="span4">
     <%= image_tag "heart.png" %>
  </div>
  <div class="span6">
    <h2>Позвольте задать Вам несколько вопросов, и будете вознаграждены!<br> Нам очень интересно ваше мнение</h2>
  </div>
</div>
<div class="row">
  <div class="span6 offset4">
          <%= render 'layouts/form' %>
  </div>
</div>