<%= form_tag({:action => "create"}, :method => "post", :class => "form-horizontal",:remote=>true) do %>
    <div>
        <p>
        Назовите несколько самых интересных тем для общения
        </p>
    </div>
    <% (1..3).each do |i| %>
        <div class="control-group">
          <%= label_tag "quest_#{i}", "#{i}.", :class => "control-label label-text" %>
          <div class="controls">
            <%= text_field_tag("quest_#{i}", nil, :class => "q") %>
          </div>
        </div>
    <% end %>
    <div>
      <p>
        Важна ли для Вас анонимность в интернете?
      </p>
      <label class="radio">
        <input type="radio" name="quest_4" id="optionsRadioYes" value="true">
        Да
      </label>
      <label class="radio">
        <input type="radio" name="quest_4" id="optionsRadioNo" value="false">
        Нет
      </label>
    </div>
    <div class="span2 offset1">
      <%= submit_tag "Готово!", :class => "btn btn-large subm-btn" %>
    </div>
<% end %>