<div>
  <h2>Огромное спасибо, это сердце теперь ваше, скорее расскажите всем об этом :)</h2>
  <%= tweet_button via:"MiniSurvey",url:"http://social-survey.herokuapp.com",related: "MiniSurvey",text:"#hearth" %>
</div>